.card {
  gap: 0;
  width: 100%;
  padding: 30px;
}

.MuiListItemText-root {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
}

.MuiTypography-root {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  height: 100%;
}
